<div class="reveal" style="height: auto;">

    {{ $revealBase := resources.Get "css/reveal.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    {{ $revealDark := resources.Get "css/theme/source/dark.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $revealBase.Permalink }}">
    <link rel="stylesheet" href="{{ $revealDark.Permalink }}" id="theme">
    <link rel="stylesheet" href="/reveal/plugin/highlight/monokai.css">
    <div class="slides">
        <section data-markdown data-separator="^\n---\n" data-separator-vertical="^\n--\n$" data-separator-notes="^=* Notes =*">
            <textarea data-template>
                # {{ .Title }}
                {{ .Params.Subtitle }}
                
                ---

                {{ .RawContent }}

            </textarea>
        </section>
    </div>
</div>

<script src="/reveal/dist/reveal.js"></script>
<script src="/reveal/plugin/markdown/markdown.js"></script>
<script src="/reveal/plugin/highlight/highlight.js"></script>
<script src="/reveal/plugin/notes/notes.js"></script>

<script src="/reveal/plugin/mermaid/mermaid.min.js"></script>
<script src="/reveal/plugin/mermaid/plugin.js"></script>

<script>
    Reveal.initialize({
        // Display
        center: true,
        embedded: true,

        slideNumber: "c",
        slideOverview: true,
        showNotes: false,

        // Slide management
        hashOneBasedIndex: true,
        hash:true,
        history: true,
        respondToHashChanges: true,

        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMermaid ],
        markdown: {
            sanitize: false,
        }
    });
</script>

